body {
  background-color: #FFC0CB;
  margin: 0;
}
.header {
  background-color: brown;
  height: 80px; /* задаем высоту элемента */
}

h1, a {
  margin: 0;
  padding: 0;
}

.my-content {
    background-color: white;
    padding: 100px;
    margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
    height: 550px;
    overflow: auto;
}
label {
  display: block;
  margin-bottom: 150px;
}

#my-link {
  color: red;
}
#my-link:hover {
  color: purple;
}

