{% extends "base.html" %}

{% block content %}
    <div id="my-content" class="my-content">
        <h1 style="position: absolute; top: 230px; left: 50%; transform: translateX(-50%);">
            {% if result %}
            {{ result }}
            {% endif %}
        </h1>
    </div>
    <div style="position: absolute; top: 330px; left: 50%; transform: translateX(-50%);">
        <h2> Компьютер: {{ value }} </h2>
            {% if selected_choice %}
        <h2> Ты: {{ selected_choice }} </h2>
            {% endif %}
    </div>
    <h1 style="position: absolute; top: 630px; left: 50%; transform: translateX(-50%);">
        <a id="my-link" href="/choice">Новая игра</a>
    </h1>
{% endblock %}