{% extends "base.html" %}

{% block content %}
{% load static %}
<h1 style="position: absolute; left: 50%; transform: translateX(-50%); top: 10%">Выбирай</h1>
<form method="post" id="my-content" class="my-content">
    {% csrf_token %}
    {% for choice in form %}
      {{ choice }}
    {% endfor %}

  <button type="submit" class="btn btn-primary">Выбрать</button>
          <div style="position: absolute; top: 165px; left: 50%;">
            <img src="{% static 'img/камень.jpg' %}" alt="photo" width="32%" height="15%" style="display: block;">
            <img src="{% static 'img/ножницы.jpg' %}" alt="photo" width="35%" height="15%" style="display: block;">
            <img src="{% static 'img/бумага.jpg' %}" alt="photo" width="35%" height="15%" style="display: block;">
          </div>
</form>
{% endblock %}